// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login{
  margin-top: 20px;
  margin-right: 300px;
  display:inline;
  float: right; 
  padding: 10px;
}

