<!DOCTYPE html>
<html>
<head>
  <title>PlaceBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://3.bp.blogspot.com/-UEsXsy0IH48/T8EEnvbVqyI/AAAAAAAAAhQ/kMA7tJBhTo4/s1600/CAPITAL-LETTER-P-BCZ.png" />
   
</head>
<body>

<%= yield %>

</body>
</html>
